@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


body{
    margin: 0;
    padding:0;
    font-family: "Michroma", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*
*   DEBUT HEADER
*/

header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: 80px;
    top: 0;
    overflow: hidden;
    padding :10px;
    background-color: #f8f8f8;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);

}

header h1{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
header input[type=text] {
    justify-content: center;
    align-items: center;
    padding: 6px;
    border: none;
    font-size: 17px;
    width: 500px;
    height: 40px;
}
#searchContainer {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchContainer button {
  background: #58a6ff;
  color: #f8f8f8;
  font-size: 17px;
  border: none;
  cursor: pointer;
  padding:12px 15px 12px 15px;
}

#searchContainer button:hover{
    background: #3891f7;
}

header nav{
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #f8f8f8; 
    padding: 5px;
    background-color: #58a6ff;
    width: 100px;
    border-radius: 5px;
    transition: 0.3s;
}

header nav a:hover{
    background-color: #3891f7;
    transform: scaleX(1.05) scaleY(1.05);
}
/*
*   FIN HEADER
*/

/*
*   DEBUT SECTION PRODUIT
*/
#productSection{
    padding: 20px;
}

#productSection h2{
    text-align: center;
    font-size: 50px;
}

.productContainer{
    display: grid;
    align-items: center;
    grid-template-columns: 15% 10% 50% 10% 15%;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 25px;
    padding: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.3);
    transition: 0.3s;
    height: 210px;
}

.productContainer:hover{
    background-color:rgb(207, 207, 207);
}

.productImg{
    grid-column-start: 1;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    
}

.productName{
    font-size: 30px;
    grid-column-start: 2;
    
}
.productDesc{
    grid-column-start: 3;
}
.productPrice{
    font-size: 20px;
    justify-self: center;
    grid-column-start: 4;
}

.productButton{
    display: flex;
    justify-content: flex-end;
    grid-column-start: 5;
    
}

.productButton button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #f8f8f8; 
    padding: 5px;
    
    width: auto;
    min-width: 100px;
    height: 50px;
    margin-right: 15px;
    border-radius: 5px;
    transition: 0.3s;
    border: none;
    font-size: 17px;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(207, 207, 207);
    height: 5vh;
    padding: 15px;
}
footer p {
    text-align: center;
    margin: 0;
}
footer a{
    text-decoration: none;
    text-align: center;
    color: black; 
    padding: 20px;
    width: 100px;
    border-radius: 5px;
    transition: 0.3s;
}

footer a:hover{
    text-decoration: underline;
}

.detail{
    background-color: #58a6ff;
}

.detail:hover{
    background-color: #3891f7;
}

.ajout{
    background-color: #04AA6D;
}

.ajout:hover{
    background-color: #028b59;
}