header{
    height: 10%;
    width: 100%;
    margin: 0,0,0,0;
    align-items: center;
    background-color: black;
    color: white;
}
body {
    margin: 0;
}

h1{
    margin: 0;
    text-align: center;
}
h1:hover{
    color: brown;
}

header p{
    margin: 0;
    text-align: center;
}