@model ExoCoursMVC.Models.Book
@{
    ViewData["Title"] = "Book Catalog";
}

<div class="card mb-3" style="max-width: 900px;">
    <div class="row g-0">
        <div class="col-md-7">
            <div class="card-body">
                <form class="row g-3" asp-validation-summary="ModelOnly">
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Titre</label>
                        <input type="text" class="form-control" id="inputTitre" placeholder="Titre du livre..." asp-for="Titre">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Genre</label>
                        <input type="text" class="form-control" id="inputGenre" placeholder="Genre..." asp-for="Genre">
                    </div>
                    <div class="col-12">
                        <label for="inputCity" class="form-label">Stock</label>
                        <input type="number" class="form-control" id="inputStock" placeholder="0" asp-for="Stock">
                    </div>
                    <div class="col-12">
                        <button asp-action="ConfirmAdd" type="submit" class="btn btn-primary">Confirmer</button>
                        <a asp-action="Index" class="btn btn-secondary">Retour au catalogue</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>