.center{
    text-align: center;
}

.box {
    border: 4px dotted black;
    background-color: grey;
    padding : 15px;
}

.alert{
    border: 2px solid black;
    padding: 10px;

}

.error {
    border: 2px solid black;
    color: black;
    font-weight: bolder;
    background-color: red;
    padding: 10px;
}

.warning{
    border: 2px solid black;
    color: black;
    font-weight: bolder;
    background-color: #ffbc02;
    padding: 10px;
}