@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@keyframes floatAndZoomBackground {
      0% { transform: translateY(0) scale(1); }
      50% { transform: translateY(-12px) scale(1.025); }
      100% { transform: translateY(0) scale(1); }
    }

body{
    margin: 0;
    background-color: #1f2937;
    position: relative;
    color: #f8f8f8;
    font-family: "Michroma", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1{
    font-size: 40px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: #0d1117;
    height: 80px;
    top: 0;
    overflow: hidden;
}
#navbar h1{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#navbar nav{
    display: flex;
    justify-content: space-evenly;
    width: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#navbar nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #f8f8f8; 
    padding: 5px;
    background-color: #58a6ff;
    width: 100px;
    border-radius: 5px;
    transition: 0.3s;
}

#navbar nav a:hover{
    background-color: #3891f7;
    transform: scaleX(1.05) scaleY(1.05);
}

#banniere {
  min-height: 30vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
   display: flex;
  background: #1f2937;
  align-items: center;
  justify-content: center;
}


#cardSection {
    position: relative;
    overflow: hidden;
    z-index: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    justify-content: space-around;
    align-items: center;

    padding: 50px;
}

#cardSection::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("image/background4.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;

    z-index: -1;
    animation: floatAndZoomBackground 20s ease-in-out infinite;
}

.cardContainer{
    width: 100%; 
    display: flex; 
    justify-content: center;
}

.card{
    display: grid;
    grid-template-columns: 70% 30%;
    align-self: center;
    align-items: center;
    background-color:#1f2937;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 7px; 
    width: 450px;
    height: 500px;
    padding-top: 0;
    padding-bottom: 15px;
    /*padding: 1rem;*/
    
}

.card:hover{
    background-color: #1f2227;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.4);
    transform: scaleX(1.05) scaleY(1.05);
}

.titreCard{
    align-self :first baseline;
    background-color: #58a6ff;
    border-radius: 7px 7px 0 0; 
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin : 0 0 0 0;
    padding : 10px 10px 10px 10px;
    font-size: 30px;
}

.imageCard{
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    max-height: 250px ;
    max-width: 350px;
}

.paraCard{
    justify-self: left;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 10px;
    font-size: 14px;
}

.prixCard{
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 14px;
}

.buttonCard{
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #58a6ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.buttonCard:hover{
    background-color: #3290fc;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.4);
    transform: scaleX(1.05) scaleY(1.05);
}

.content {
  position: relative;
}

.content h1 {
    margin : 0;
  white-space: nowrap;
  overflow: hidden;
  color: #f8f8f8;
  font-size: 7em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #2082f1;
}

.content h1:nth-child(2) {
  color: #58a6ff;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

#selectionChef{
    padding :10px;
    font-size: 14px;
}

#selectionChef h2{
    text-align: center;
}

#footer{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: #0d1117;
    padding-left: 20px;
}

#footer a{
    text-decoration: none;
    text-align: center;
    color: #f8f8f8; 
    padding: 20px;
    width: 100px;
    border-radius: 5px;
    transition: 0.3s;
}

#footer p {
    padding: 20px;
}

#footer a:hover{
    background-color: #1f2937;
}
